.navbar {
height: 100px;
}

body {
    background: rgb(74,74,77);
    background: linear-gradient(23deg, rgba(74,74,77,1) 0%, rgba(168,168,173,1) 50%, rgba(238,252,255,1) 100%);
}
#firstBoxes {
    margin: 50px 50px 50px 50px;
    border: solid 1px black;
    padding: 15px;
    background-image: url("https://cdn.shopify.com/s/files/1/2486/4354/products/Peter-Lik-Into-the-Mist-Framed-Recess-Mount_1800x.jpg?v=1585081774");
    background-size: cover;
    color: white;
    font-size: larger;
}
img {
    height: auto;
    width: auto;
    border: 5px black solid;

}
.col {
height: 300px;
width: 400px;
margin: 20px;
text-align: center;
font-size: x-large;
font-weight: bold;
font-family: 'Syne Mono', monospace !important;
}

.col img {
    height: 250px; width: 350px;
    }

.col :hover {
    transform: scale(1.15);
    }

footer {
    background-image: url("https://c1.wallpaperflare.com/preview/601/197/81/rain-floor-water-wet.jpg");
    background-size: cover;
    height: 125px;
    font-size: larger;
    color: black;
}

li {
    color: black;
}
/* When you hover over a list item it changes background color and font */
li a:hover {
    background-color: white;
    color: green;
}

/* Once you have visited the link it turns red */
a:visited {
    color: rgb(248, 123, 144);
}